@import url(https://fonts.google.com/share?selection.family=Gravitas+One|Roboto+Mono:ital,wght@0,100..700;1,100..700|Roboto:ital,wght@0,100..900;1,100..900);

* {
    margin: 0px;
    padding: 0px;
}



.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0b0dad79-ad4d-42b7-b779-8518da389976/web/IN-en-20250908-TRIFECTA-perspective_0647b106-80e1-4d25-9649-63099752b49a_large.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px 100vw);
}

.bg {

    background-color: black;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    opacity: 0.78;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 84vw;
    margin: auto;
    height: 112px;
}

.nav svg {
    width: 145px;
    z-index: 10;
    position: relative;
}

.nav .navbtn {

    z-index: 10;
    position: relative;

}
.content{
    height:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    position:relative;
    color:white;

}
.content .p1{
box-sizing:border-box;
font-weight: 900;
font-size:60px;
max-width: 90vw;
margin:13px;
text-align: center;
font-family:'Arial Narrow', Arial, sans-serif
}
.content .p2{
    font-size:24px;
    gap:23px;
}
.content .p3{
    font-size:20px;
    margin : 34px 0px 0px 0px;
}
.lowernav{
   height:30%;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
.btn{
    padding:8px  23px;
    font-weight:bold;
   color:rgb(247, 244, 244);
    border-radius:9px;
     background-color:rgb(23,23,23,0.2);
     border:white;
    
}
.red-btn{
    background-color:rgb(233, 9, 9);
    padding: 8px 15px;
    font-weight: bold;
     color:white;
    border-radius:4px;
    border:none;
    

}
.red-lbtn{
    background-color: #ef0909;
    color: white;
    padding: 10px 22px;
    border-radius: 5px;
    border:none;
}
.main input{
    padding: 10px 90px 10px 0px;
    border-radius: 5px;
    border:white;
    background-color:rgb(23,23,23,0.5);
    font-weight: 200;

}
.body{
    height:100vh;
    width:auto;
    background-color:
} 
